aside {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    width: 20%;
}

main {
    float: right;
    width: 75%;
    margin-right: 10px;
}

#searchLabel {
    font-size: 30px;
    font-weight: bolder;
}

button {
    width: 100%;
}

.cityButton {
    margin: 5px 0;
    background-color: rgb(241, 241, 241);
    border-radius: 4px;
    border-width: 1px;
}

#todayForecast {
    display: inline-block;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    padding: 9px;
}

#longTerm {
    width: 100%;
}

.forecastBlock {
    display: inline-block;
    background: whitesmoke;
    margin: 10px;
    width: 18%;
}

.uvIndex {
    padding: 5px;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
}

.lowThreat {
    /* 0-3 */
    background-color: rgb(27, 192, 27);
}

.moderateThreat {
    /* 4-7 */
    background-color: rgb(251, 178, 41);
}

.highThreat {
    /* 8+ */
    background-color: red;
}
